@import '../../styles/variables';

.container {
    background-image: url(../../assets/bgForm.jpg);
    height: 100vh;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__box {
        padding: 0 20rem;
        background-color: $bg-color;
        opacity: 0.85;

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $bg-color;
            opacity: 0.9;
            gap: 20px;

            &__title {
                font-family: $font-secondary;
                font-weight: 700;
                color: #fff;
                font-size: 2.5rem;
            }

            &__field {
                display: flex;
                flex-direction: column;
                color: #fff;
                font-size: 1.4rem;

                input {
                    border: 1px solid $details-color;
                    background-color: transparent;
                    padding: 5px;
                }
            }

            button {
                font-weight: 500;
                font-size: 1.4rem;
                padding: 5px 19px;
                cursor: pointer;
            }
        }
    }
}