@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');

$bg-color: #292e36;
$details-color: #e1b168;
$grey-color: #dedede;
$grey-details-color: #5c6168;
$text-color: #dfdfdf;
$font-main: 'Josefin Sans', sans-serif;
$font-secondary: 'Cormorant Garamond', serif;
$font-size-main: 0.8rem;
$paddind-x: 12.5rem;